@font-face {
    font-family: "SF Text";
    font-weight: 200;
    src: url("https://sf.abarba.me/SF-UI-Text-Light.otf");
}
@font-face {
    font-family: "SF Text";
    font-weight: 400;
    src: url("https://sf.abarba.me/SF-UI-Text-Regular.otf");
}
@font-face {
    font-family: "SF Text";
    font-weight: 500;
    src: url("https://sf.abarba.me/SF-UI-Text-Medium.otf");
}
@font-face {
    font-family: "SF Text";
    font-weight: 600;
    src: url("https://sf.abarba.me/SF-UI-Text-Semibold.otf");
}
@font-face {
    font-family: "SF Text";
    font-weight: 800;
    src: url("https://sf.abarba.me/SF-UI-Text-Heavy.otf");
}

html {
    --text-color: white;
    --text-color-opposite: black;
    --background-color: #1B1B1B;
    --box-color: #0B0B0B;
    --box-color2: black;
    --accent-color: #AE0000;
    --body-padding: 46px;

    background: var(--background-color);
}

body {
    display: block;
    margin: auto;
    padding: 0 0 100px 0;
    max-width: 1440px;
    color: var(--text-color);
    font-family: "SF Text", sans-serif;
    font-size: 16px;
    line-height: 100%;
    font-weight: 200;
}

a {
    color: var(--text-color);
    text-decoration: underline;
    cursor: pointer;
}

.site-header {
    display: flex;
    background: var(--accent-color);
    padding: 0 var(--body-padding);
    height: 70px;
    align-items: center;
    justify-content: space-between;
    line-height: 23px;
    vertical-align: middle;
}

.logo {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.09em;
}
.logo span {
    font-weight: 800;
}

.site-navigation ul {
    margin: 0;
    padding: 0;
}
.site-navigation li {
    list-style: none;
    display: inline-block;
    line-height: 23px;
}

.cart-items-count {
    display: inline-block;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    color: var(--text-color-opposite);
    background: var(--text-color);
    text-align: center;
    margin-left: 4px;
    font-weight: 500;
}

main {
    padding: 0 var(--body-padding);
}

main header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 64px 0;
}

main header h1 {
    /* I think this would be a generic style */
    font-size: 28px;
    font-weight: 200;
    line-height: 1;
    margin: 0;
    padding: 0;
}

.breadcrumb {
    display: inline-block;
    background: var(--box-color);
    border-radius: 6px;
    padding: 15px 13px;
}
.breadcrumb ol {
    padding: 0;
    margin: 0;
}
.breadcrumb li {
    display: inline;
    list-style: none;
}
.breadcrumb li:before {
    content: "→ ";
}
.breadcrumb li:first-child:before {
    content: none;
}

.breadcrumb li a {
    text-decoration: none;
}
.breadcrumb li a:hover {
    text-decoration: underline;
}


.cart-items {
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0 26px;
    margin-top: -26px;
}

.cart-items tr {
    margin-bottom: 26px;
}

.cart-items thead tr {
    background: var(--box-color);
    height: 46px;
    text-align: left;
}

.cart-items th {
    font-weight: 200;
    padding: 0;
}

.cart-items th:first-child {
    border-radius: 6px 0 0 6px;
    width: 130px;
}
.cart-items th:last-child {
    border-radius: 0 6px 6px 0;
    width: 150px;
    text-align: center;
}

.cart-items tr:nth-child(even) {
    background: var(--box-color2);
}
.cart-items tr:nth-child(even) input {
    background: var(--background-color);
}
.cart-items tr:nth-child(even) td:first-child {
    border-radius: 6px 0 0 6px;
}
.cart-items tr:nth-child(even) td:last-child {
    border-radius: 0 6px 6px 0;
}

.cart-items td {
    font-size: 20px;
    padding: 0;
}

.cart-items td:last-child {
    text-align: center;
}

.cart-item-thumb {
    display: block;
    width: 104px;
    height: 104px;
    border-radius: 6px;
}

.cart-item-name {
    display: block;
    font-weight: 200;
    line-height: 1;
    margin-bottom: 9px;
}
.cart-item-id {
    display: block;
    opacity: .6;
    font-size: 16px;
}

.cart-item-update {
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
    visibility: hidden;
}
.cart-item-update.visible {
    visibility: visible;
}

.cart-item-quantity {
    background: var(--box-color2);
    border-radius: 6px;
    color: var(--text-color);
    line-height: 1;
    font-weight: 200;
    padding: 0;
    width: 42px;
    height: 42px;
    text-align: center;
    margin-right: 10px;
    vertical-align: middle;
    border: 2px solid transparent;
    -moz-appearance: textfield;
}
.cart-item-quantity:invalid {
    border-color: var(--accent-color);
}
.cart-item-quantity::-webkit-inner-spin-button,
.cart-item-quantity::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.cart-item-remove {
    color: var(--text-color);
    background: none;
    border: none;
    padding: 0;
    font-size: 36px;
    line-height: 1;
    width: 36px;
    cursor: pointer;
}

.cart-info {
    margin: 43px 0 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 8.5%;
}

.cart-comments textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 188px;
    background: var(--box-color2);
    border-radius: 6px;
    border: none;
    color: var(--text-color);
    font-weight: 200;
    padding: 7px 10px;
    line-height: 1.36;
}

.cart-comments span, .cart-info h3 {
    display: block;
    font-size: 16px;
    font-weight: 200;
    line-height: 1;
    margin: 0 0 13px 0;
    padding: 0;
}

.cart-info p {
    margin: 0;
    line-height: 1.36;
    opacity: 0.6;
}

.cart-summary {
    width: 100%;
    border-collapse: collapse;
    margin: 0 0 43px 0;
}

.cart-summary td {
    line-height: 31px;
    margin: 0;
    padding: 0 8px;
    vertical-align: middle;
}

.cart-summary td:last-child {
    text-align: right;
    font-weight: 400;
}

.cart-summary tfoot td {
    background: var(--box-color2);
}
.cart-summary tfoot td:first-child {
    border-radius: 6px 0 0 6px;
}
.cart-summary tfoot td:last-child {
    border-radius: 0 6px 6px 0;
}

.cart-checkout-button {
    display: block;
    margin: auto;
    padding: 22px 32px;
    background: var(--accent-color);
    border-radius: 6px;
    color: var(--text-color);
    border: none;
    font-weight: 400;
    font-size: 18px;
    cursor: pointer;
}

.cart-continue {
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
}